.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background-color: #eceef1;
  margin: 0;
  padding: 0;
  font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 1.4; }

p {
  font-family: Open Sans, sans-serif;
  color: #4b515b;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: .01em; }

h1 {
  font-family: Open Sans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  font-size: 40px !important;
  margin-left: -2.5px;
  line-height: 1.04;
  letter-spacing: -.028em;
  margin: 0; }

h2 {
  color: #4b515b;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

h3 {
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

a {
  color: #0f6aea; }

p a:link, p a:visited {
  border-bottom: 2px solid #0f6aea;
  transition: 0.3s ease; }

p a:link:hover, p a:visited:hover {
  border-bottom: 2px solid #000;
  color: #000;
  transition: 0.3s ease; }

.site-container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  min-width: 320px; }

.navbar {
  height: 75px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #eceef1; }

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  float: left; }

.navbar ul li a {
  font-family: Open Sans;
  font-size: 14px;
  display: block;
  color: #737f8d;
  font-weight: 600;
  text-align: center;
  padding: 26px 28px;
  text-decoration: none; }

.navbar ul li a:hover {
  background-color: #fbfbfb; }

.navbar .right {
  float: right; }

.navlogo {
  margin: 0;
  float: left;
  height: 75px;
  padding: 0 30px 0 30px; }

.navbar .navlogo img {
  width: 150px;
  height: auto;
  margin: 24px; }

.navbar ul a:link {
  display: block; }

.info {
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  border-bottom: 1px solid #eceef1; }

.info img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-radius: 100px; }

.info .container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  height: inherit; }

.info .content {
  max-width: 700px;
  margin: 0 auto; }

.info .logo {
  display: grid;
  margin-bottom: 30px; }

.info .text {
  display: grid;
  width: 100%; }

.info p, .info h3 {
  margin: 0 auto; }

.info .text p {
  text-align: center;
  vertical-align: middle;
  display: table-cell; }

.info .links {
  margin: 15px 0 0 0;
  text-align: center;
  vertical-align: middle; }

.info .links i {
  color: #036aed;
  margin: 0 10px 0 0; }

.primary {
  display: block;
  margin: 20px 0 0 0;
  height: 215px; }

.primary .content-wrap {
  background-color: #fff;
  width: 100%;
  margin: 0 20px 0 0;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.08); }

.primary .content-wrap .image {
  float: left;
  margin: 0 20px 20px 0; }

.primary .content-wrap .image img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  float: left; }

.primary .content-wrap .title {
  margin: 0 0 10px 0; }

.small-wrap {
  width: 750px;
  margin: 0 auto; }

#info {
  max-width: 600px;
  margin: 0 auto; }

#info a:link, #info a:visited {
  border-bottom: solid 2px; }

.bd-expo {
  padding-bottom: 3rem;
  padding-top: 3rem; }

.bd-websites {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.bd-website {
  margin-top: 1rem;
  width: calc(50% - 1rem);
  background-color: #f2f2f2;
  border-radius: 20px; }

.bd-website:nth-child(1), .bd-website:nth-child(2) {
  margin-top: 0; }

.bd-website.bd-is-highlighted {
  width: 100%; }

.bd-website-image {
  margin-bottom: 3rem; }

.bd-website-image img {
  border-radius: 10px 10px 0 0; }

.bd-website {
  display: block;
  position: relative;
  text-align: center; }

.bd-website:last-child {
  margin-bottom: 0; }

.bd-website-image {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 1.5rem;
  position: relative; }

.bd-website-image:hover .bd-website-overlay {
  opacity: 0.25; }

.bd-website-overlay {
  background-color: #0a0a0a;
  opacity: 0;
  transition: opacity 200ms ease-out; }

/*Blog Post Styling*/
.post {
  width: 750px;
  margin: 0 auto; }

li {
  font-family: Open Sans, sans-serif;
  color: #4b515b;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: .01em; }

.post-thumb {
  width: 420px;
  height: 320px;
  background-color: #29cb71;
  border-radius: 20px; }

body {
  background: white; }
