<footer>
      <div class="site-container">
        <div class="container">
            <div class="content">
              <div class="info">
              <a href="/">
              </a>
                  <p>
                  weCook is a social recipe site built with simplicity in mind.
                  Share your recipes, create versions of other user’s recipes and make something new together!
                  <img src="/img/smile.png" alt="CakePHP">                  </p>
                  <p>
                    Created by <a href="http://matthewlean.co.uk">Matthew Lean</a>
                  </p>
              </div>
              <div class="nav">
                <div class="title">
                  <h4>Navigation</h4>
                </div>
                <ul class="list-style-none text-gray">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/recipes">Recipes</a> </li>
                  <!-- <li><a href="/recipes/add"><i class='fa fa-plus'></i> Add Recipe</a></li> -->
                </ul>
              </div>
              <div class="nav">
                <div class="title">
                  <h4>Follow</h4>
                </div>
                <ul class="list-style-none text-gray">
                  <li><a href="https://twitter.com/wecookapp"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                  <li><a href="https://github.com/matthewlean/weCook"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
          <div class="subtext">
            <p>© weCook 2017</p>
          </div>
    </footer>
