<aside>

	<div class="banner">

		<div class="header">
			<div class="navbar">
				<div class="site-container">
					<ul>
						<li>
							<a href="http://matthewlean.co.uk">Home</a>
						</li>
						<li>
							<a href="http://matthewlean.co.uk/blog/">Blog</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
			<polygon fill="#eceef1" points="0,100 100,0 100,100"></polygon>
		</svg>

	</div>

</aside>
