<div class="navbar">
  <div class="site-container">
        <ul class="left">
            <li>
              <!-- <div class="navlogo"> -->
                <!-- <img src="images/colourpal-logo.png"> -->
                <a class="left" href="/">Home</a>
              <!-- </div> -->
            </li>
            <li>
                <a class="left" href="/about">About</a>
            </li>
        </ul>
        <ul class="right">
            <li>
                <a class="right" href="/add/">Blog</a>
            </li>
        </ul>
    </div>
</div>
