// Copyright 2017 Matthew Lean

// Colours // ----------------------------------
// Follow RGB units
// Try and use usage names over colours names
$keytek-orange: rgb(247,143,31);
$blue: rgb(15,106,234);
$red: rgb(255,58,47);
$yellow: rgb(254,203,22);
$green: rgb(41,203,113);
$light-grey: rgb(242,242,242); // background grey
$dark-grey : rgb(75,81,91); // default font colour

// Main styling // ----------------------------------
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  background-color: #eceef1;
  margin: 0;
  padding: 0;
  font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
  font-size: 18px;
  line-height: 1.4;
}
p{
  font-family: Open Sans, sans-serif;
  color: $dark-grey;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: .01em;
}
h1{
  font-family: Open Sans, sans-serif;
   font-size: 3rem;
   font-weight: 700;
   font-style: normal;
   font-size: 40px !important;
   margin-left: -2.5px;
   line-height: 1.04;
   letter-spacing: -.028em;
   margin: 0;
}
h2{
 color: #4b515b;
 font-family: Open Sans, sans-serif;
 font-size: 25px;
 font-weight: 700;
 margin-bottom: 0px!important;
 margin-top: 0px!important;
}
h3{
 margin-bottom: 0px!important;
 margin-top: 0px!important;
}
a{
 color:$blue;
}
p a:link, p a:visited{
 border-bottom: 2px solid #0f6aea;
 transition: 0.3s ease;
}
p a:link:hover,p a:visited:hover{
 border-bottom: 2px solid #000;
 color: #000;
 transition: 0.3s ease;
}
// Wordpress Style
.site-container{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    min-width: 320px;
}
.navbar {
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #eceef1;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    float: left;
}
.navbar ul li a  {
    font-family: Open Sans;
    font-size: 14px;
    display: block;
    color: #737f8d;
    font-weight: 600;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #fbfbfb;
}
.navbar .right {
    float: right;
}
.navlogo {
  margin: 0;
  float: left;
  height:75px;
  padding: 0 30px 0 30px;
}
.navbar .navlogo img{
  width: 150px;
  height: auto;
  margin: 24px;
}
.navbar ul a:link {
  display: block;
}
.info {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    border-bottom:1px solid #eceef1;
}
.info img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 100px;
}
.info .container {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    height: inherit;
}
.info .content {
    max-width: 700px;
    margin: 0 auto;
}
.info .logo {
    display: grid;
    margin-bottom: 30px;
}
.info .text {
    display: grid;
    width: 100%;
}
.info p, .info h3 {
    margin: 0 auto;
}
.info .text p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.info .links {
    margin: 15px 0 0 0;
    text-align: center;
    vertical-align: middle;
}
.info .links i {
    color: #036aed;
    margin: 0 10px 0 0;
}
// Extra styling // ----------------------------------
#info{
  max-width: 600px;
  margin: 0 auto;
}
#info a:link, #info a:visited {
    border-bottom: solid 2px;
}
.bd-expo {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .bd-websites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bd-website {
    margin-top: 1rem;
    width: calc(50% - 1rem);
    background-color: $light-grey;
    border-radius: 20px;
  }
  .bd-website:nth-child(1), .bd-website:nth-child(2) {
    margin-top: 0;
  }
  .bd-website.bd-is-highlighted {
    width: 100%;
  }
  .bd-website-image {
    margin-bottom: 3rem;
  }
  .bd-website-image img{
    border-radius: 10px 10px 0 0;
  }

.bd-website {
  display: block;
  position: relative;
  text-align: center;
}

.bd-website:last-child {
  margin-bottom: 0;
}

.bd-website-image {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.bd-website-image:hover .bd-website-overlay {
  opacity: 0.25;
}

.bd-website-overlay {
  background-color: #0a0a0a;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

// Posts

 /*Blog Post Styling*/
 .post{
   width: 750px;
   margin: 0 auto;
 }
li{
  font-family: Open Sans, sans-serif;
  color: $dark-grey;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: .01em;
}
.post-thumb{
  width: 420px;
  height: 320px;
  background-color: #29cb71;
  border-radius: 20px;
}
