<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}

      <section class="hero is-medium">
        <div class="hero-body">
          <div class="container">
            <div class="post">
            {{ content }}
            </div>
          </div>
        </div>
      </section>

      <!--build:js js/main.min.js -->
      <script src="js/lib/a-library.js"></script>
      <script src="js/lib/another-library.js"></script>
      <script src="js/main.js"></script>
      <!-- endbuild -->

{% include footer.html %}

</div>


</body>

</html>
